{{- define "main" }}

<div class="about-container">
    <div class="about-left">
        <figure class="about-cover">
            {{- $cropCls := cond (eq (.Param "avatarMobileCrop") "center") "about-avt-mobile-center-crop" "about-avt-mobile-top-crop" }}
            {{- $avatarImage := .Param "avatarImage" | default "" }}
            <img src="{{ $avatarImage }}" class="{{ $cropCls }}">
        </figure>
    </div>
    <div class="about-right">
        <div class="post-content">
            {{- if .Content }}
            {{- .Content | markdownify | safeHTML }}
            {{- end }}
        </div>
        <div class="about-socials">
            {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
        </div>
    </div>
</div>

{{- $timeline := .Param "timeline" | default false }}
{{- if $timeline }}
<div class="about-section">
    <div class="post-content">
        {{- $timelineTitle := printf "## %s" (.Param "timelineTitle" | default "Experience") }}
        {{- $timelineTitle := $timelineTitle | markdownify | safeHTML }}
        {{- if not (.Param "disableAnchoredHeadings") }}
        {{- partial "anchored_headings.html" $timelineTitle }}
        {{- else }}{{- $timelineTitle }}{{- end }}
    </div>
    <div id="timeline" class="timeline-container">
        {{- range $index, $exp := (.Param "timeline") }}
        {{- with $exp }}
        <div class="timelineitem">
            {{- $imgSrc := .logoImg.src | default "" }}
            {{- $logoStyle := .logoImg.logoStyle | default ""}}
            {{- $imgStyle := .logoImg.imgStyle | default ""}}
            <div class="timelinelogo" style="{{- $logoStyle | safeCSS }}">
                <img src="{{ $imgSrc }}" style="{{- $imgStyle | safeCSS }}" />
            </div>
            <div class="timeline-content">
                <div class="ttitle">
                    {{- $timeWindow := .time | default "Time window is required (e.g. 'from 2019 to 2023')!" }}
                    {{- $position := .position | default "" }}
                    {{- $institution := .institution | default "" }}
                    {{- $location := .location | default "" }}

                    {{- if ne $timeWindow "" }}{{- $timeWindow | markdownify | safeHTML }}{{ ": " }}{{- end }}
                    {{- if ne $position "" }}{{- $position | markdownify | safeHTML }}{{ " @ " }}{{- end }}
                    {{- $institution | markdownify | safeHTML }}
                    {{- if ne $location ""}}{{ ", " }}{{- $location | markdownify | safeHTML }}{{- end }}
                </div>
                <div class="tdesc post-content">{{ .description | markdownify | safeHTML }}</div>
            </div>
        </div>
        {{- end}}
        {{- end }}
    </div>
</div>
{{- end }}

{{- $otherSections := .Param "otherSections" | default false }}
{{- if $otherSections }}
{{- range $section := $otherSections }}
{{- if $section }}
<article>
  <div class="post-content about-md-content">
    {{- $sectionFullText := printf "## %s\n\n%s" $section.sectionName $section.sectionContent | markdownify | safeHTML}}
    {{- if not ($.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" $sectionFullText }}
    {{- else }}{{ $sectionFullText }}{{ end }}
  </div>
</article>
{{- end }}
{{- end }}
{{- end }}


{{- end }}{{- /* end main */ -}}
